[submodule "routersploit"]
	path = submodules/routersploit
	url = https://github.com/reverse-shell/routersploit.git
[submodule "submodules/bootstrap"]
	path = submodules/bootstrap
	url = https://github.com/twbs/bootstrap.git
