[submodule "routersploit"]
	path = submodules/routersploit
	url = https://github.com/reverse-shell/routersploit.git
[submodule "submodules/bootstrap"]
	path = submodules/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "submodules/font-awesome"]
	path = submodules/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
