{% load static %}
        <hr/>
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <a href="https://cert.orange.pl/" target="_blank">&copy; 2017 Orange POLSKA CERT/SOC</a>
                    </div>
                    <div class="col-md-2">
                        <a href="https://github.com/CeDeROM/OrangeADE" target="_blank">
                            <img class="center-block" src="{% static "gfx/github-icon-black.svg" %}" width="32pt" />
                        </a>
                    </div>
                    <div class="col-md-5"/>
                </div>
            </div>
        </footer>